body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.alertContainer {
	height: 60px;
}

.alertContainer .alert {
	width: 100%;
	position: absolute;
	display: none;
}

.table-striped > tbody > tr:nth-of-type(4n+1) {
  background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-of-type(4n+2) {
  background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-of-type(4n+3) {
  background-color: white;
}

.table-striped > tbody > tr:nth-of-type(4n) {
  background-color: white;
}